# 1. Point to the CPU-only wheels to save massive amounts of space
# --extra-index-url https://download.pytorch.org/whl/cpu

# 2. Core Frameworks (Pinned for stability)
torch==2.0.1
# torch==2.5.0
torchvision==0.15.2

# 3. Application Logic
streamlit==1.28.0
pandas==2.0.3
Pillow==10.0.0
numpy==1.24.3